In [1]:
import os 
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 

from tensorflow import keras 
from tensorflow.keras import layers, initializers, activations
from tensorflow.keras.applications import resnet, resnet50
from tensorflow.keras.preprocessing import timeseries_dataset_from_array
from tensorflow.keras.preprocessing.image import ImageDataGenerator

In [2]:
patient4 = pd.read_csv("patient4.csv")
train4a = patient4.iloc[1801:]
train4a

,y_stim,y_values,Fz,Cz,Pz,Oz,P3,P4,PO7,PO8
1801,1,1,-7.421200,-8.31850,-3.29380,-6.8832,-7.2642,-6.8377,-16.0450,4.1521
1802,1,1,-6.194600,-6.78920,-2.20290,-8.2259,-5.2232,-6.8710,-15.0440,1.3310
1803,1,1,-3.963600,-4.25240,-1.01210,-9.0815,-3.2687,-6.5888,-12.8210,-2.0731
1804,1,1,-1.561600,-1.82240,-0.15197,-9.0153,-2.0131,-6.0983,-9.9045,-4.8905
1805,1,1,0.098132,-0.60247,0.15121,-7.9813,-1.7646,-5.5329,-6.7862,-6.2420
...,...,...,...,...,...,...,...,...,...,...
347699,0,0,-15.988000,-19.16600,-21.95900,-43.3470,-26.9590,-17.0280,-49.3820,-27.2820
347700,0,0,-12.886000,-15.86800,-18.48300,-37.0660,-22.2420,-13.0740,-41.3130,-22.7930
347701,0,0,-9.390300,-12.36400,-15.43900,-29.4970,-17.8900,-10.9010,-32.5760,-19.0480
347702,0,0,-5.616200,-8.79210,-12.89900,-20.9360,-14.2290,-10.5020,-24.0640,-16.0940
347703,0,0,-1.650700,-5.17500,-10.64700,-11.7500,-11.0350,-11.1230,-15.8590,-13.5520

In [3]:
target1_set = train4a[train4a['y_values'] == 1]
target1_set.describe()

,y_stim,y_values,Fz,Cz,Pz,Oz,P3,P4,PO7,PO8
count,111999.000000,111999.0,111999.000000,111999.000000,111999.00000,111999.000000,111999.000000,111999.000000,111999.000000,111999.000000
mean,6.642908,1.0,-0.159246,-0.309202,-0.06854,0.400679,-0.158263,-0.152541,-0.108544,-0.405504
std,3.435251,0.0,10.638054,9.711952,9.39962,9.328012,9.504804,8.949850,10.432519,7.631226
min,1.000000,1.0,-68.830000,-55.934000,-53.71200,-51.123000,-46.633000,-43.807000,-60.086000,-32.811000
25%,4.000000,1.0,-6.576550,-6.431150,-6.08045,-5.478750,-6.138900,-5.895200,-6.656850,-5.350600
50%,7.000000,1.0,-0.378250,-0.396120,-0.26384,-0.279890,-0.387530,-0.379310,-0.699920,-0.730360
75%,10.000000,1.0,6.048950,5.703600,5.71420,5.222650,5.651250,5.332250,5.500600,4.087500
max,12.000000,1.0,350.990000,349.140000,347.49000,341.790000,342.160000,341.110000,346.210000,246.220000

In [4]:
target2_set = train4a[train4a['y_values'] == 2]
target2_set.describe()

,y_stim,y_values,Fz,Cz,Pz,Oz,P3,P4,PO7,PO8
count,22400.000000,22400.0,22400.000000,22400.000000,22400.000000,22400.000000,22400.000000,22400.000000,22400.000000,22400.000000
mean,5.785714,2.0,-1.172687,-0.961763,-0.542414,0.434264,-0.438163,-0.382089,0.059299,0.147470
std,3.447199,0.0,10.056676,9.187652,8.897609,8.953447,9.044483,8.504392,10.140787,7.402365
min,1.000000,2.0,-44.371000,-38.859000,-39.386000,-28.925000,-44.469000,-39.048000,-38.379000,-26.612000
25%,3.000000,2.0,-7.457325,-7.028325,-6.341475,-5.281525,-6.334475,-5.921250,-6.396475,-4.716725
50%,6.500000,2.0,-1.348350,-1.053550,-0.677185,-0.184180,-0.675460,-0.517205,-0.497895,0.002913
75%,9.000000,2.0,4.891300,4.909550,5.090375,5.347425,5.233475,5.059450,5.602950,4.682350
max,12.000000,2.0,59.392000,44.215000,39.851000,44.735000,49.788000,42.265000,56.184000,32.969000