In [1]:
import os 
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 

import tensorflow as tf 
from tensorflow import keras 
from tensorflow.keras import layers, initializers, activations
from tensorflow.keras.applications import resnet, resnet50
from tensorflow.keras.preprocessing import timeseries_dataset_from_array
from tensorflow.keras.preprocessing.image import ImageDataGenerator

In [2]:
patient3 = pd.read_csv("patient3.csv")
train3a = patient3.iloc[1801:]
train3a

,y_stim,y_values,Fz,Cz,Pz,Oz,P3,P4,PO7,PO8
1801,1,1,10.2190,-56.2720,16.2180,13.6770,14.64600,10.5980,18.4670,4.9356
1802,1,1,6.9206,-48.7560,10.9820,9.3143,8.88340,6.6246,11.1140,2.1697
1803,1,1,1.0248,-43.9020,4.3141,2.9914,1.76720,1.9712,2.3236,-2.0673
1804,1,1,-5.7047,-40.2890,-1.8974,-3.6708,-4.91630,-2.2888,-5.6477,-6.6897
1805,1,1,-11.5350,-36.3840,-6.1134,-9.0320,-9.64800,-5.2299,-11.0490,-10.2920
...,...,...,...,...,...,...,...,...,...,...
347699,0,0,13.2680,10.1780,6.8704,15.5810,2.21800,-4.2285,3.6971,7.3852
347700,0,0,9.8818,6.1717,4.4422,13.8590,0.54631,-6.5416,3.7483,5.1425
347701,0,0,9.0348,4.7221,3.2762,11.7680,0.30099,-6.1538,3.2339,3.6387
347702,0,0,10.9150,6.2473,3.7538,9.9708,1.91060,-2.7225,2.6814,3.1699
347703,0,0,14.5270,9.7106,5.3545,8.5839,4.80650,2.6717,2.3172,3.4021

In [3]:
target1_set = train3a[train3a['y_values'] == 1]
target1_set.describe()

,y_stim,y_values,Fz,Cz,Pz,Oz,P3,P4,PO7,PO8
count,111999.000000,111999.0,111999.000000,111999.000000,111999.000000,111999.000000,111999.000000,111999.000000,111999.000000,111999.000000
mean,6.642908,1.0,0.133876,0.132046,0.296106,-0.057338,0.226616,0.154325,-0.075861,-0.188370
std,3.435251,0.0,8.813191,8.213969,7.633547,6.467869,7.390383,6.992424,7.717449,6.104557
min,1.000000,1.0,-75.816000,-63.868000,-54.410000,-64.422000,-55.124000,-71.940000,-61.188000,-48.391000
25%,4.000000,1.0,-4.909200,-4.999100,-4.725000,-3.991700,-4.556800,-4.408050,-4.914100,-4.063900
50%,7.000000,1.0,-0.231560,-0.169190,0.015224,-0.397490,-0.094694,-0.153370,-0.567660,-0.299330
75%,10.000000,1.0,4.618950,4.810650,4.921500,3.388700,4.554050,4.450600,4.013100,3.579200
max,12.000000,1.0,96.354000,125.840000,48.333000,48.697000,47.999000,59.230000,42.020000,38.442000

In [4]:
target2_set = train3a[train3a['y_values'] == 2]
target2_set.describe()

,y_stim,y_values,Fz,Cz,Pz,Oz,P3,P4,PO7,PO8
count,22400.000000,22400.0,22400.000000,22400.000000,22400.000000,22400.000000,22400.000000,22400.00000,22400.000000,22400.000000
mean,5.785714,2.0,-0.421295,-0.288095,-0.234504,-0.051198,0.083555,-0.17507,0.295082,0.147801
std,3.447199,0.0,8.365307,7.785891,7.581146,6.316904,7.175800,6.95412,7.479362,5.960794
min,1.000000,2.0,-67.353000,-60.511000,-49.747000,-38.009000,-42.600000,-65.12600,-34.359000,-40.350000
25%,3.000000,2.0,-5.225325,-5.436425,-5.267750,-3.882025,-4.616425,-4.79485,-4.398075,-3.650325
50%,6.500000,2.0,-0.597555,-0.621035,-0.580170,-0.294905,-0.198395,-0.39795,-0.115085,0.063100
75%,9.000000,2.0,4.111850,4.547625,4.526775,3.473725,4.391475,4.23980,4.338075,3.856200
max,12.000000,2.0,75.732000,71.602000,47.590000,42.208000,43.727000,76.92300,45.776000,35.454000